
<div class="cont-login"> 
    <h3>Sign Up</h3>    
    <div class="two-input-cont">
        <input [(ngModel)]="user.FirstName" type="text"  placeholder="First name" pInputText class="inp-login-half p-inputtext-sm"/>
        <input [(ngModel)]="user.LastName" type="text"  placeholder="Last name" pInputText class="inp-login-half p-inputtext-sm"/>
    </div>
    <div class="two-input-cont">
        <input [(ngModel)]="user.Password" required minlength="7" type="password"  placeholder="New password" pInputText class="inp-login-half p-inputtext-sm"/>    
        <input [(ngModel)]="user.Phone" type="text"  placeholder="Mobile number" pInputText class="inp-login-half p-inputtext-sm"/>  
    </div>
    <input [(ngModel)]="user.Email" type="text"  placeholder="Email" pInputText class="inp-login p-inputtext-sm"/>         
    <div class="bday-gender-cont">
        <p-dropdown [(ngModel)]="user.Gender" [options]="gender" optionLabel="name" optionValue="name"></p-dropdown>
        <p-calendar [(ngModel)]="user.Birthday" placeholder="Birthday"></p-calendar>
    </div>





    <span class="btn-reg-cont-space-between">
        <p-button label="Sign Up" (onClick)="submit()"></p-button>
        <p-button routerLink="/security/login" label="Log In"  styleClass="p-button-success"></p-button>
    </span>
</div>
<p-toast></p-toast>