
<div class="cont-login"> 
    <h3>Register</h3>               
    <!-- <input type="text"  placeholder="Email" pInputText class="inp-login"/>
    <input type="password"  placeholder="Password" pInputText  class="inp-login"/>
    <span class="btn-fullwidth">
        <p-button label="Log In"  class="btn-submit"></p-button>
    </span> -->
    <span class="btn-reg-cont">
        <p-button  routerLink="/security/login" label="Log In"  class="btn-register"  styleClass="p-button-success"></p-button>
    </span>
</div>