
.cont-login{
    max-width: 370px;
    width: 100%;
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius: 15px
}
.inp-login{
    width: 100%;
    margin-bottom: 15px;
}
.btn-register{
    margin: 0 auto;

}
.inp-login-half{
    width: calc(50% - 5px);
    margin-bottom: 15px;
}
.two-input-cont{
    display: flex;
    justify-content:space-between
}
.bday-gender-cont{
    display: flex;
    justify-content: space-between;
}